/*For body*/
hr {
    border-color: black;
}
/*Overall container*/
#bodytop
{
    display: flex;
}

#events
{
    background-color: rgba(120, 207, 219, 0.9);
}

#events > h2
{
    margin-left: 10px;
}

#events .container-body
{
    display: flex;
}

#events .container-body > span
{
    margin: 10px;
}

#events .container-body h3
{
    /*max to specefiy how big tag can get and overflow for when text breaks outta tag*/
    overflow-wrap: break-word;
    max-width: 200px;
   
}

#events .container-body p
{
    overflow-wrap: break-word;
   
}

/*2*/
#updates article
{
    display: flex;
    margin: 8px;
    border: solid black;
    background-color: rgba(120, 207, 219, 0.9);
    max-width: 300px;
    height: 200px;
    max-height: 250px;

}

#updates p
{
   
    width: 150px;
    margin: 8px;
    border-bottom: 1px solid black;
    overflow-wrap: break-word;
    
}
















