body
{
   
    background-image: url("./images/lithHarbour.jpg");
    
}

a:link
{
    text-decoration: none;
}

a:visited
{
    color: rgba(20, 186, 241, 0.884);
}

a:hover
{
    color: deepskyblue;
}

a:active
{
    color: rgba(15, 125, 161, 0.507);
}
/*For Main Navigstion*/

/*test*/
header
{
    border: solid yellow;
}

nav
{
   
    border: solid orange;
}

/*Make them all horizontal*/
nav ul#mainnav
{
    display: flex;
    border: solid pink;
    
    
  
    

}

/*Space the anchor container**/
nav ul#mainnav li
{
    position: relative;
    /*margin: 10px;
    padding: 0px 25px 0px 25px;*/
    width: 130px;
    border: solid green;
    
  
  
    
}

nav ul#mainnav li a:hover
{
    background-color: aqua;
}

/*Make dropdown appear*/
nav ul#mainnav li:hover ul.dropdown
{
    display: block;
    
}


/*For the dropdown*/
/*Trying to remove indent*/
ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.dropdown
{
    position: absolute;
    border: solid blue;
    display: none;
  
}


ul.dropdown li
{
    background-color: brown;
   
}












