body
{
   
    background-image: url("./images/lithHarbour.jpg");
    
}

a:link
{
    text-decoration: none;
}

a:visited
{
    color: rgba(20, 186, 241, 0.884);
}

a:hover
{
    color: deepskyblue;
    
}

a:active
{
    color: rgba(15, 125, 161, 0.507);
}
/*For Main Navigstion*/


/*Make them all horizontal*/
nav ul#mainnav
{
    display: flex;
    flex-wrap: wrap;
     
   
}

/*Space the anchor container**/
nav ul#mainnav > li
{
    
    /*The reason it starts to misa;lign is that I wrote my selectors in a way such that 
    in applied to drop down list as well when I padded
    SideNote: content box  */
    /*margin: 10px;
    padding: 0px 25px 0px 25px;*/
    width: 130px;
    font-size: 23px;
    height: 25px;
    margin: 20px;
    
    

}



/*Make dropdown appear*/
nav ul#mainnav li:hover ul.dropdown
{
    display: block;
 
}







/*Just testing: for if I want to change submenus font size*/
/*nav ul#mainnav li:hover ul.dropdown li
{
    font-size: 20px;
    text-align: center;
 
}*/


/*For the dropdown*/
/*Trying to remove indent*/
ul
{
    /*Lists naturally have padding to them so this resets them to zero*/
    padding: 0;
    margin: 0;
    list-style: none;
}
/*Hide Dropdown and remove from flow*/
ul.dropdown
{

    /*Absolute really only matters if im going to use things such as left: right: top etc
    if not it really has no bearing, it will align itself to the nearest postioned elment or the body
    by default but without any offsets it wont do squat */


    position: absolute;
    display: none;
    background-color: rgba(187, 187, 219, 0.5);

}

ul.dropdown li
{
    margin: 20px;
  
}

/*Will pad the anchor in the list*/
/*Will still keep it aligned as we are padding within the element  *!* */
ul.dropdown a
{
    padding: 15px;
  
    
   
}














