/*Background-clip very useful if I want to fill the background
like an inline(content-area), block(border-box !default) or via padding area
https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip */

/*For body*/
hr {
    border-color: black;
}
/*overall*/
#bodytop
{
    display: flex;
    color: hsla(195, 80%, 20%, 0.9);
    font-weight: 400;  
}

#bodytop h2, #bodytop h3, #bodytop strong 
{
    color: hsl(195, 80%, 10%);
    font-weight: 600;
}


/*container for bodytop events*/
.container
{
    border: solid black; 
}

.container-body
{
    display: flex;
    background-color: hsla(195, 80%, 73.5%, 0.9);
   
}

.container-body p, .container-body h3
{
    overflow-wrap: break-word;
   
}

/*Specefic*/
#events > h2
{
    margin-left: 10px;
   
  
}


#events .container-body > span
{
    margin: 10px;
}

#events .container-body h2
{
    max-width: 200px;
}


/*2*/


#updates article
{
   /* display: flex;*/
    margin: 8px;
    border: solid black;
   
    max-width: 300px;
    height: 200px;
    max-height: 250px;

}

#updates h2
{
    margin: 8px;
 
}

#updates p
{
    width: 150px;
    margin: 8px;
    border-bottom: 1px solid black;
 
    
}


















