body
{
   
    background-image: url("../images/lithHarbour.jpg");
    
}

header
{
    margin: 15px;
}

a:link
{
    text-decoration: none;
}



/*For Main Navigstion*/




/*Make them all horizontal*/
nav ul#mainnav
{
    display: flex;
    flex-wrap: wrap;

    /*Lists naturally have padding to them so this resets them to zero*/
    padding: 0;
    margin: 0;
    list-style: none;
   
   
}


/*Space the anchor container**/
nav ul#mainnav > li
{
    width: 130px;
    font-size: 23px;
    margin: 12px;
 

}

nav ul#mainnav li a
{
    color: hsl(240, 100%, 46.7%);
}

nav ul#mainnav li a:hover
{
    color: hsl(195, 100%, 50%);
    
}

nav ul#mainnav li a:active
{
    color: hsl(191, 83%, 34.5%);
}



/*Make dropdown appear*/
nav ul#mainnav li:hover ul.dropdown
{
    display: block;
 
}







/*Just testing: for if I want to change submenus font size*/
/*nav ul#mainnav li:hover ul.dropdown li
{
    font-size: 20px;
    text-align: center;
 
}*/


/*For the dropdown*/
/*Hide Dropdown and remove from flow*/
ul.dropdown
{

    /*Absolute really only matters if im going to use things such as left: right: top etc
    if not it really has no bearing, it will align itself to the nearest postioned elment or the body
    by default but without any offsets it wont do squat */


    position: absolute;
    display: none;
    background-color: rgba(187, 187, 219, 0.5);
    border-top: solid 2px rgba(110, 110, 150, 0.9);

    /*Lists naturally have padding to them so this resets them to zero*/
    padding: 0;
    margin: 0;
    list-style: none;

}

/*Will pad the anchor in the list*/
/*Will still keep it aligned as we are padding within the element  *!* */
ul.dropdown li
{
    border-bottom: solid 1px rgba(140, 140, 190, 0.9);
    
}

ul.dropdown a
{
    /*Area of padding is clickable*/
    display: block; /*Display:Flex also achieves same thing but wraps inside vs out elements*/
    padding: 25px;
  
    
   
}

/*For When I want to add a background home icon*/
.bounding-box 
{
  
  background-image: url(../images/maplestory-2-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  

}


